html{
    margin: 0;
    padding: 0;
    background: #161616;
}

/* Section 1 */
.name {
    position: relative;
    z-index: -19;
    margin-top: 100px;
    margin-left: 10%;
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
    color: #FFEA00;
    font-weight: 400;
}

.info {
    position: relative;
    z-index: -19;
    margin-left: 10%;
    color: #FFFFFF42;
    font-family: 'Fredoka One', cursive;
}

.nav__bar {
    margin-top: 128px;
    margin-left: 10%;
    height: 159px;
    display: grid;
    font-size: 16px;
    inline-size: min-content;
    font-family: 'Fredoka One', cursive;
}

.nav__items {
    color: #FFFFFF;
    text-decoration: none;
}

.line {
    position: absolute;
    width: 58px;
    height: 0px;
    margin-left: -27px;
    top: 500px;
    border: 2px solid #FFEA00;
    transform: rotate(90deg);
}

.image {
    background-repeat: no-repeat;
    position: absolute;
    height:100%; 
    background-position:center;
    right: 11%;
    top: -10px;
    border: none;
    z-index: -1;
}

.email {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 9px;
    font-family: 'Chelsea Market', cursive;
    color: #FFEA00;
}

.emailid {
    font-size: 12px;
    text-decoration: none;
    color: #FFFFFF42;
}

span {
    margin-left: 10%;
    font-family: 'Chelsea Market', cursive;
    color: #FFFFFF;
}

.break{
    color: #393939;
    margin-left: 10%;
    margin-right: 10%;
    border: dotted;
    border-top: none;
}

.footer {
    text-align: center;
}

.direction {
    font-family: 'Chelsea Market', cursive;
    color: #FFFFFF;
    text-decoration: none;
}

/*section 1 closes*/
/*section 2*/


.aboutme{
    font-family: 'Kaushan Script', cursive;
    font-size: 114px;
    text-align: center;
    color: #FFFFFF1A;
}

.info1{
    margin: 0% 10% 0% 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}
.info2{
    color: #FFFFFF;
    margin-left: 10%;
    font-family: 'Chelsea Market', cursive;
    font-size: 12px;
}
/*section 2 closes*/

/*section 3*/
.half{
    margin-top: 10%;
    width: 19%;
    border-top: none;
    border-bottom-color: #2F2F2F;
    transform: rotate(90deg);
}
.heading{
    text-align: center;
    margin-top:10%;
    font-size: 60px;
    color: #FFEA00;
    font-family: 'Kaushan Script', cursive;
}
.half2{
    margin-top: 10%;
    width: 19%;
    border-top: none;
    border-bottom-color: #2F2F2F;
    transform: rotate(90deg);
}
/*section3 closes*/

/*section4*/
.image1{
    margin-top: 19px;
    height: 75vh;
}
.grid{
    display: flex;
    flex-direction: column;
    
}
.image2{
    height:104px;
    margin-top: -87px;
    margin-bottom: 59px;
}
.info3{
    color: #FFFFFF;
    font-family: 'Chelsea Market', cursive;
    font-size: 12px;
    text-align: center;
}
.appname{
    color: #FFEA00;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-top: -56px;
    margin-bottom: 0;
}
/*section4 closes*/

/*section5*/
.webimg{
    text-align: center;
}
.webimg img{
    width: -webkit-fill-available; 
    margin-top: 19px;
    margin-right: 10%;
    margin-left: 10%;
}
.webimg lottie-player{
    position: absolute;
    width: 29%;
    margin-top: 10%;
    margin-left: 50%;
    height: auto;
}
/*section5 closes*/
/*section6*/
.phone{
    position:relative;
    z-index: -19;
    width: 54%;
    transform: rotate(24deg);
    margin-top: 4%;
    margin-left: 19%;
    margin-bottom: 30px;
    margin-right: auto;
}
.box{
    margin-right: 10%;
    margin-left: 58%;
    margin-top: -162px;
    z-index: -1;
    text-shadow: 2px -1px 0px black;
    position: absolute;
}
/*section6 closes*/
/*section7*/
.finalfooter{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
/*section7 closes*/


.loader_bg{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 90px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ffea00;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

